
<h1>Starters</h1>
<mat-card class="service-box"> 
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image1}}">
      <mat-card-footer class="text">{{menudetails.Starters1}}</mat-card-footer>
    </mat-card>
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image2}}">
      <mat-card-footer class="text">{{menudetails.Starter2}}</mat-card-footer>
    </mat-card>
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image3}}">
      <mat-card-footer class="text">{{menudetails.Starter3}}</mat-card-footer>
    </mat-card>
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image4}}">
      <mat-card-footer class="text">{{menudetails.Starter4}}</mat-card-footer>
    </mat-card>
  </mat-card>

  <h1>BreakFast</h1>

  <mat-card class="service-box"> 
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image6}}">
      <mat-card-footer class="text">{{menudetails.breakfast1}}</mat-card-footer>
    </mat-card>
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image7}}">
      <mat-card-footer class="text">{{menudetails.breakfast2}}</mat-card-footer>
    </mat-card>
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image8}}">
      <mat-card-footer class="text">{{menudetails.breakfast3}}</mat-card-footer>
    </mat-card>
    <mat-card class="image-holder">
      <img src="http://localhost/{{menudetails.image9}}">
      <mat-card-footer class="text">{{menudetails.breakfast4}}</mat-card-footer>
    </mat-card>
  </mat-card>
    

    <h1>Lunch</h1>  
    <mat-card class="service-box"> 
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image10}}">
          <mat-card-footer class="text">{{menudetails.Lunch1}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image11}}">
          <mat-card-footer class="text">{{menudetails.Lunch2}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image12}}">
          <mat-card-footer class="text">{{menudetails.Lunch3}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image13}}">
          <mat-card-footer class="text">{{menudetails.Lunch4}}</mat-card-footer>
        </mat-card>
      </mat-card>

    <h1>Dinner</h1> 
    <mat-card class="service-box"> 
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image14}}">
          <mat-card-footer class="text">{{menudetails.Dinner1}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image15}}">
          <mat-card-footer class="text">{{menudetails.Dinner2}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image16}}">
          <mat-card-footer class="text">{{menudetails.Dinner3}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image17}}">
          <mat-card-footer class="text">{{menudetails.Dinner4}}</mat-card-footer>
        </mat-card>
      </mat-card>

    <h1>Ice-Creams</h1>
    <mat-card class="service-box"> 
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image18}}">
          <mat-card-footer class="text">{{menudetails.Icecreams1}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image19}}">
          <mat-card-footer class="text">{{menudetails.Icecreams2}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image20}}">
          <mat-card-footer class="text">{{menudetails.Icecreams3}}</mat-card-footer>
        </mat-card>
        <mat-card class="image-holder">
          <img src="http://localhost/{{menudetails.image21}}">
          <mat-card-footer class="text">{{menudetails.Icecream4}}</mat-card-footer>
        </mat-card>
      </mat-card>

    
          

 