.addemployee {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .app-addemployee-form {
    margin-bottom: 20px;
  }
  
  .app-addemployee-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  